.App {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.data {
  min-height: 90vh;
  max-width: 70vw;
  margin: 0 auto;
  margin-top: 20px;
  font-size: calc(10px + 1vmin);
  border: 1px solid darkslategray;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

.row {
  border-bottom: 1px solid darkslategray;
  width: -webkit-fill-available;
}

.row, .country-data, .city-container{
  display: flex;
  flex-direction: row;
  padding: 3px;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.city-data {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  flex-grow: 3;
}

.country {
  border-right: 1px solid darkslategray;
  display: flex;
  align-content: center;
  align-items: center;
  padding-right: 1em;
  width: 250px;
}

.stats {
  display: flex;
  width: 350px;
  justify-content: space-between;
  border-left: 1px solid darkslategray;
}

.stats div {
  padding: 0 5px;
}

.stats-num {
  padding: 2px;
  color: lightgray;
  font-size: .7em;
}

.react-datepicker__close-icon::after {
  background-color: #282c34 !important;
  height: 10px !important;
  width: 10px !important;
}